.venv/
.venv-api/
api/.venv-api/
api/.pytest_cache/
__pycache__/
*.pyc
.git/
.idea/
.vscode/
.DS_Store
mlflow.db
mlartifacts/
mlruns/
/data/
exploration/
modeling/
docs/
ui/
dashboard/descriptive/output/
